
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #ffff;
    font-family: 'Poppins', sans-serif;
}
.Sales{
    float: right;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 90%;
    height: 100%;
}

.details{

    position: fixed;
    top: 30%;
    left: 30%;
    width: 90%;
    height: 100%;
}


.sale_table{
    margin-top: 5%;
    margin-left: 15%;
    min-width: 70vw;
}

.table_sales{
    border-radius: 10px;
    min-width: 70vw;
    margin-top: 12%;
}

.table_sales td, .table_detail td{
    height: 4ch;
    text-align: center;
    border-width: 1px;
    border-color: black;
    width: 4ch;    
}

.table_sales th, .table_detail th{
    background-color: #403E3c;
    color: #ffff;
    font-weight: lighter;
    padding: 6px; 
    text-align: center;
    border-width: 1px;
    border-color: black;
    align-items: center;
}


.sale_Title{
    position: relative;
    margin-bottom: 0%;
    margin-left: 12%;
    font-size: 35px;
    font-weight:900;

}

.New_saleButton{
    background-color: #FF9900;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.New_saleButton:hover {
    background-color: #FF8C00;
  }

.button-cont{
    margin-top: 3%;
    padding-bottom: 2%;
    float: left;
    margin-left: 12%;
}
.edit-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}


.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination-item {
    margin: 0 5%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination-item:not(:last-child) {
    margin-right: 5px;
}

.pagination-item:hover {
    background-color: #f0f0f0;
}

.active {
    background-color: #FF9900;
    color: black;
}

.pagination-disabled {
    opacity: 0;
    cursor: not-allowed;
}



.filter_container{
    font-size: 18_salespx;
    margin-top: 3%;
    float: right;
    padding-right: 5%;
}

.filter_container input{
    border: 1px solid #333;
}



.total{
    margin-left: 20%;
    float: left;
}


.sale-Title-Detail{
    position:fixed;
    top: 16%;
    left: 20%;
    margin: 10px;
    font-size: 25px;
    font-weight:900;

}

.back{
    position:fixed;
    top: 5%;
    left: 20%;
    margin: 10px;
    font-size: 20px;
    font-weight:900;

}

.filter_container{
    font-size: 18_salespx;
    margin-top: 3%;
    float: right;
}

.table_detail{
    border-radius: 10px;
    min-width: 30vw;
    margin-left: 10%;
}

.add_cuantity{
    color: red;
    padding-right: 10%;
    font-size: 20px;
}


.subtract_cuantity{
    color: rgb(79, 131, 0);
    padding-left: 8%;
    font-size: 20px;
}

.pagination_c{
    margin-left: 250px;
}