.sidebar {
    width: 250px; /* Ancho del menú lateral */
    height: 100vh; /* Altura igual a la altura de la ventana */
    background-color: black; /* Color de fondo negro */
    position: fixed; /* Fija el menú lateral en la posición */
    top: 0; /* Alinea el menú lateral arriba */
    left: 0; /* Alinea el menú lateral a la izquierda */
    padding: 20px; /* Espacio interno */
    color: white; 
    width: 250px;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 150px; /* Ancho del menú lateral en pantallas pequeñas */
      /* Otros estilos para pantallas pequeñas... */
    }
  }

  .logo {
    text-align: center; 
    padding: 6%; 
  }
  
  .logo img {
    max-width: 60%; 
    height: auto; 
  }