.whole{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.left-side {

  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  background-color: rgb(39, 44, 56);


  
}
.rigth-side {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(31, 27, 38);
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;

}



.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #007bff;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.table_p td,
.table_p th {
    padding: 10px; 
    text-align: center;
    border-width: 2px;
    border: none;
}